<% include ./partials/header %>
<h1>Helllo </h1> 
<% blogs.forEach(function(blog){ %> 
    <div>
        <h2><%= blog.title%> </h2>  
        <img src="<%= blog.image %>">
        <span><%= blog.created.toDateString() %> </span> 
        <p><%= blog.body.substring(0, 100) %> </p> 
        <div class="ui grid"> 
            <div class="three wide column"> 
                <a class="ui blue basic button " href="/blogs/<%= blog._id %>">Read More</a> <br /> 
            </div>
           <div class="three wide column"> 
                <a class="ui blue basic button " href="/blogs/<%= blog._id %>/edit">Edit</a> 
            </div> 
            <div class="three wide column"> 
            <form class="ui form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button> 
            </form>  
            </div> 
        </div> 
    </div>  

<% }) %>
<% include ./partials/footer %>
